body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contact{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.logo{
  width: 80px;
  height: 20px;
}
.logo img{
  width: 100%;
}
.navbar{
  display: flex;
  justify-content: space-between;
  padding: 0 80px;
  align-items: center;
}
.navbar ul{
  display: flex;
  
  }
.navbar ul li{
  padding: 14px;
  list-style: none; 
}

.header{
  background: #F0EFEB;

}
.header ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header ul li {
  width: 599px;  
  list-style: none;
  text-align: left;
}
.header ul li img{
  width: 100%;

}
.header h1{
  text-align: left;
  font-size: 60px;
}
.header p {
  width: 481px;
  font-size: 24px;
  text-align: left;
  line-height: 28px;
  margin-top: 40px;
}
.blackBtn{
 padding: 7px 23px;
 border-radius: 100px;
 background: #000;
 color: #fff;
 margin-top: 26px;
}

.collection{
  padding-top: 60px; ;
}
.collection p{
  font-size: 20px;
  margin: 25px auto 60px;
  line-height: 23px;
}
.cart{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.cart li img {
  width: 300px;
}
.cart li{
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  width: 300px;
  margin: 30px;

}
.cart li h3{
  width: 150px;
}
.cart ul li p{
  width: 100px;
}
.cart button{
  outline: none;
  background: transparent;
  border: none;
  text-decoration: underline;
}
.guide ul{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  width: 100%;
  padding: 50px 0;

}

.guide li{
  list-style: none;
  text-align: left;
  width: 498px;
}
.guideLeft{
  flex-direction: row-reverse;
  text-align: right; 
  background: rgba(204, 204, 204, 0.3);
}
.guideLeft li{
  text-align: right; 
}
.feature .featureList{
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  margin-bottom: 60px;
  justify-content: space-around;

}
.feature .featureList li{
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 30%;
  align-items: center;
  margin: 20px 0;
}
.feature .featureList span{
  width: 70px;
  height: 70px;
  background: green;
  border-radius: 100%;

}
.feature .featureList h2{
  width: 189px;
}
.feature h1{
  margin-bottom: 60px;
}
.feature .cart{
  background: #F0F0F0 ;
}
.form{
  margin-bottom: 60px;
}
.form form{
  width: 500px;
  display: flex;
  flex-direction: column;
  margin: 30px auto;
  align-items: center;
}
form div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.form input{
  border: 1px solid #000000;
  padding: 12px;
  margin: 15px 0;
}
.form input:last-child{
 width: 100%;
}
.footer {
  padding: 30px 60px;
  background: #000;

}
.footerContent {
  display: flex;
  justify-content: space-between;
}
.footer .blockLeft{
  padding: 30px 60px;
  display: flex;
  flex-direction: column;
  align-self: baseline;
  align-items: flex-start;
}
.footer .blockLeft li:last-child{
  margin: 10px;

}
.footer .blockLeft li:last-child img{
  margin: 10px;

}
.footer .blockRight{
  display: flex;
  color:#fff;

}
.footer .blockRight ul li:first-child{
  margin-bottom: 15px;
}
.footer .blockRight ul li{
  list-style: none;
  text-align: left;
  margin-right: 15px;
}



